@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-button() {
  border: none;
  padding: 0;
  cursor: pointer;
}

@mixin icon-container($height, $width, $color) {
  position: relative;
  width: $width;
  height: $height;
  line-height: 0;
  color: $color;
  transition: all 0.3s ease-in-out;

  svg {
    width: 100%;
    height: 100%;
  }
}
