// Layout variables
$side-paddings-mobile: 24px;
$side-paddings-desktop: 32px;

// need to approve the following two figures with the designer
$top-menu-height: 64px;
$container-max-width: 1200px;

// Color variables
$color-black: #000;
$color-white: #fff;
$color-grey-label: #7f7d85;
$color-grey-input: #d2d0dc;
$primary-color-disable: #4318f280;
$primary-color-default: #4315f2;
$primary-color-hover: #5d35ff;
$error-color: #ea334d;
$layer-header: 100;
