// Layout variables
$side-paddings-mobile: 24px;
$side-paddings-desktop: 32px;

// need to approve the following two figures with the designer
$top-menu-height: 64px;
$container-max-width: 1200px;

// Color variables
$color-black: #06040e;
$color-white: #fff;
$color-dark-grey: #7f7d85;
$color-medium-grey: #d2d0dc;
$color-grey-light-300: #f1effc;
$color-grey-light-200: #e8e7ed;
$color-grey-light-100: #f9f9fc;
$primary-color-disable: #4318f280;
$primary-color-default: #4315f2;
$primary-color-hover: #5d35ff;
$error-color: #ea334d;

// Z-index variables
$layer-header: 100;

// Animation variables
$default-transition: 0.3s ease-in-out;
