.create-gallery-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 65px;
  min-height: 100vh;

  &__text {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    text-align: center;
  }

  &__image-row {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 -24px;
    margin-bottom: 56px;
  }

  &__image {
    border-radius: 10px;

    &:first-child {
      margin-right: 8px;
      width: 96px;
      height: 128px;
    }

    &:last-child {
      margin-left: 8px;
      width: 96px;
      height: 128px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 134px;
      height: 178px;
    }

    &:nth-child(3) {
      margin: 0 16px;
      width: 156px;
      height: 208px;
    }
  }

  &__title {
    margin-bottom: 16px;
    min-width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: $color-black;
  }

  &__position-btn {
    margin: 0 auto;
    width: 186px;
  }

  &__decription {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: $color-grey-label;
  }
}
