.restore-deleted-gallery {
  $this: &;

  position: fixed;
  left: 50%;
  bottom: 20px;
  border-radius: 6px;
  padding: 16px 24px;
  box-shadow: 1px 4px 16px rgb(180 173 189 / 15%);
  background-color: $color-white;
  transform: translateX(-50%);

  &__button {
    margin-left: 10px;
    border-radius: 4px;
    padding: 8px 12px;
    color: $primary-color-default;

    &:hover {
      color: $primary-color-hover;
      background-color: $color-grey-light-100;
      transition: all $default-transition;
    }
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
  }
}
