.fields-container {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  &__label {
    display: block;
    margin-bottom: 8px;
    color: $color-grey_label;
  }

  &__input {
    outline: 1px solid $color-grey_input;
    border-radius: 6px;
    padding: 16px 45px 16px 16px;
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    color: $color-grey_label;
    gap: 8px;

    &::placeholder {
      color: $color-grey_input;
    }

    &:focus-within {
      outline: 2px solid $primary-color-default;
    }

    &[type="password"] {
      letter-spacing: 0.125em;

      &::placeholder {
        letter-spacing: 0;
        color: $color-grey_input;
      }
    }
  }

  &__icon {
    position: relative;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  button {
    position: absolute;
    right: 5%;
    top: 55%;

    svg:hover {
      path {
        fill: $color-grey_label;
      }
    }
  }
}
