.photo-list {
  display: flex;
  flex-direction: column;
  padding-top: $top-menu-height;
  min-height: 100vh;

  &__card {
    margin-bottom: 16px;
    width: 100%;

    @include tablet {
      margin-bottom: 0;
      width: 300px;
      height: 249px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    @include desktop {
      margin-top: 0;
    }
  }

  &__container {
    @include reset-list;

    margin-top: 16px;

    @include tablet {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 24px;
      gap: 24px 32px;
    }
  }
}
