.galleries-list {
  $this: &;

  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-right: -8px;
  margin-left: -8px;

  &__item {
    flex-grow: 1;
    padding: 8px;
    width: 50%;
    max-width: 50%;

    @include desktop {
      padding: 16px;
      width: 16.66%;
      max-width: 16.66%;
    }
  }

  @include desktop {
    margin-right: -16px;
    margin-left: -16px;
  }
}
